@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 80%;
}
.container{
    font-family: "monospace", serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

#heading{
    font-size: 2em;
    font-family: monospace;
}
#diceText{
    font-family: monospace;
    margin: 3rem;
    color: #e34391;
}
#diceImg img{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 20px;
}
label{
    padding-top: 30px;
    font-family: monospace;
}
input{
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
}
#inputField{
    padding-bottom: 20px;
}