@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    font-family: "monospace", serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
}

h1{

    padding: 100px;
}
#diceText{
    font-family: Arial, sans-serif;
    margin: 3rem;
    color: hotpink;
}
#diceImg img{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 20px;
}

input{
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}